$color-primary: #ff5c26;
$color-list: #00c2c4;

$color-white: #fff;
$color-black: #333;
$color-title: #00c2c4;
$color-grey: #a9a9a9;
$color-grey-light: #f3f1f1;
$color-red-dark: #ab1111;
$color-green: rgb(16, 161, 16);

$color-midnight: #104f55;
